version: '2'

services:
  nginx:
    build: docker/nginx
    ports:
      - 80:80
    volumes:
      - ./:/app
    networks:
      - app

  php:
    build: docker/php
    volumes:
      - ./:/app
    networks:
      - app

  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: 'secret'
      MYSQL_DATABASE: 'example'
    ports:
      - 3306:3306
    networks:
      - app

  redis:
    image: library/redis:alpine
    networks:
      - app

networks:
  app:
